:root {
    /* Усі заголовки на чорному фоні і підзаголовки, кнопки, а також тексти і review*/
    --title-white: #F6F6F6;
    /* Підзаголовок у хедері на чорному фоні, підзаголовки у модальних вікнах та грамування у меню*/
    --subtitle-white: #D8D7D7;
  /* Текст меню ресторана на чорному фоні */
    --small-text-white: rgba(216, 215, 215, 0.5);
    /* На білому фоні усі тексти */
    --title-black: #121212;
    /* Маленькі заголовки на мейні */
    --small-title-black: #484848;
    --transition-property: color;
    --transition-duration: 250ms;
    /* Підзаголовок review */
    --review: #575757;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--title-black);
    background-color: var(--title-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.restaurant-container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    outline: 2px solid crimson;
}



/*------------------ HERO -------------------*/

.hero-restaurant {
    padding-top: 40px;
    margin: 0 auto;

}

.hero-restaurant-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.hero-restaurant-btn {
    min-width: 128px;
    height: 34px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border: 0.8px solid #121212;
    border-radius: 32px; 
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    margin-bottom: 40px;
    outline: 2px solid teal;
}

.hero-restaurant-text {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero-restaurant-text > span {
    font-style: italic;
}


/*------------------ SLIDER -------------------*/


.hero-restaurant-slider-container {
    width: 100%;
    padding-left: 20px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    outline: 2px solid royalblue;
    
}

.hero-restaurant-slider-pics {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
    overflow: hidden;
}

.hero-restaurant-slider-btn {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    margin-right: 20px;
}

.slider-icon-inactive {
    fill:#1212124D;
}

.slider-icon-active {
    fill: #121212;
}

.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
}


/*------------------ ABOUT -------------------*/


.about-restaurant {
    padding-top: 64px;
    padding-bottom: 64px;
}

.about-restaurant-text-wrap {
    margin-top: 32px;
}

.about-restaurant-text {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-restaurant-text > span {
    font-style: italic;
}


.about-restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    outline: 2px solid yellowgreen;
}

.about-restaurant-item {
    
}



/*------------------ MENU -------------------*/


.restaurant-menu {
    background-color: var(--title-black);
    color: #F7F7F7;
    padding-bottom: 96px;
}


.restaurant-menu-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 36px;
    text-align: center;
}

.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 50px;
    max-width: 1104px;
    margin: 0 auto;
    outline: 2px solid #d81515;
}

.restaurant-menu-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 515px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    outline: 2px solid rgb(220, 210, 20);
}

/* .restaurant-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    outline: 2px solid rgb(20, 210, 220);
} */

.restaurant-menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
    width: 100%;
}

.restaurant-menu-item:not(:last-child) {
    margin-bottom: 32px;
}

.restaurant-menu-container-title {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.restaurant-menu-content {
    width: 100%;
    /* display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    outline: 2px solid rgb(220, 20, 170); */
}

.menu-descr {
    display: flex;
    flex-direction: column;
    max-width: 215px;
    gap: 8px;
}

.menu-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 55px;
    gap: 8px;
}

.restaurant-menu-subtitle {
    width: 215px;
}

.restaurant-menu-subtitle::before {
    content: "•";
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.restaurant-menu-description {
    /* max-width: 215px; */
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.18em;
    color: rgba(216, 215, 215, 0.5);
}



.price-container {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #F7F7F7;
}

.weight-container {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #D8D7D7;
    align-items: center;
}

.restaurant-menu-btn {
    display: block;
    margin: 0 auto;
    margin-top: 96px;
    min-width: 140px;
    height: 40px;
    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    background-color: transparent;
}

